
!.env.project
!.env.vault

node_modules/
build/

.idea/.codiumai
.idea/

.run/

.env
.env.me
.env.previous

src/output.css
./src/output.css
./src/assets/styles/output.css

.env*
.flaskenv*

ssl/*
ssl/

coverage/*
env.json

dist/
claude.md
.claude

src/styles/output.css
/src/assets/Materials/Engravings/

.cursor/
.vscode/
logs/
generated-jwt-token.js 
.cursor/debug.log