@tailwind base;
@tailwind components;
@tailwind utilities;

.contact {
    background-color: black;
    color: white;
    h1 {
        box-shadow: red 1px 1px 0 0;
        margin: 10px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
        font-weight: bold;
    }
   
    position: absolute;
    top: 50px;
    left: 200px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin: 5px;
    padding: 5px;
    gap: 4px;
    font-size: x-large;
    .input {
        width: 300px;
        padding: 5px;
        border-radius: 2px;
        background-color: lightgray;
    }
    &label {
        box-shadow: blue 1px 0 0 1px;
        padding: 5px;
        margin-right: 5px;
        width: 200px;
        min-width: 200px;
    }
    button {
        margin-top: 40px;
    }
}